body{
    height: 850px;
    margin: 0;
    padding: 0;
}
.title{
    height: 7%;
    background-color: #1e90ff;
    font:500 35px sans-serif;
    color: #fff;
}
.title01{
    display: inline-block;
    margin: 7px 0px 7px 50px ;
}
img{
    width:  40px;
    float: left;
    margin: 14px 0px;
}
.onclick a{
    display: inline-block;
    width: 120px;
    height: 31px;
    background: #2ed573;
    line-height: 31px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    float: right;
    margin: 23px auto;
}
.onclick{
    margin-right: 0px;
    display: inline;


}
.container{
    width: 300px;
    margin: 70px 100px 70px 0;
    font-size: 25px;
}

.onclick a{
    display: inline-block;
}
input[type="submit"]{
    display: block;
    border: 1px solid black;
    border-radius: 15%;
    background: #3742fa;
    color: #fff;
    width: 50px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    margin: 30px auto;


}
label{
    display: block;
    line-height: 72px;
    position: relative;
    overflow: hidden;
}