body{
    height: 850px;
}
.ad{
    height: 9%;
    background: #ccc;
    text-align: center;
    font: 500 40px sans-serif;
    line-height: 76px;
    color: #fff;
}
.diver{
     width: 60%;
     height: 8%;
     background: #00cc00;
    margin: 15% auto 6%;
    text-align: center;
    font: 500 35px sans-serif;
    line-height: 68px;
    color: #000;
    transition: 1.0s;

}
.owner{
    width: 60%;
    height: 8%;
    background: #4062fd;
    margin: 6% auto;
    text-align: center;
    font: 500 35px sans-serif;
    line-height: 68px;
    color: #000;
    transition: 1.0s;

}
.givemessages{
    width: 60%;
    height: 8%;
    background: #fdc214;
    margin: 6% auto;
    text-align: center;
    font: 500 35px sans-serif;
    line-height: 68px;
    color: #000;
    transition: 1.0s;

}
.getmessages{
    width: 60%;
    height: 8%;
    background: #9a0013;
    margin: 6% auto;
    text-align: center;
    font: 500 35px sans-serif;
    line-height: 68px;
    color: #000;
    transition: 1.0s;

}
.mine{
    width: 60%;
    height: 8%;
    background: #8b07cc;
    margin: 6% auto;
    text-align: center;
    font: 500 35px sans-serif;
    line-height: 68px;
    color: #000 !important;
    transition: 1.0s;

}
div a{
    text-decoration: none !important;
    display: block;
    color: #000!important;
}

.diver:hover{
    width: 50%;

}
.owner:hover{
    width: 50%;

}
.givemessages:hover{
    width: 50%;

}
.getmessages:hover{
    width: 50%;

}
.owner:hover{
    width: 50%;

}
.mine:hover{
    width: 50%;
}


a:hover{
    color: #fff !important;
}
.container:before
{
 display: none;
}
